CREATE DATABASE Shop_DongHo
USE [Shop_DongHo]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2022-09-07 1:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category_ID] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 2022-09-07 1:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Contact_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Title] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[Create_Date] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[Contact_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Product]    Script Date: 2022-09-07 1:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Product](
	[Customer_ID] [int] NOT NULL,
	[Product_ID] [int] NOT NULL,
	[CusPro_Name] [nvarchar](50) NULL,
	[CusPro_Price] [decimal](18, 0) NULL,
	[CusPro_Image] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer_Product] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC,
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 2022-09-07 1:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[Discount_ID] [int] IDENTITY(1,1) NOT NULL,
	[Discount_Name] [nchar](50) NULL,
	[Discount_Price] [decimal](18, 0) NULL,
	[Discount_Quantity] [int] NULL,
	[Expiration_Date] [date] NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[Discount_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 2022-09-07 1:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[FeedBack_ID] [int] IDENTITY(1,1) NOT NULL,
	[FeedBack_User] [nvarchar](50) NULL,
	[FeedBack_Content] [nvarchar](max) NULL,
	[FeedBack_Time] [datetime] NULL,
	[Product_ID] [int] NULL,
 CONSTRAINT [PK_FeedBack] PRIMARY KEY CLUSTERED 
(
	[FeedBack_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import]    Script Date: 2022-09-07 1:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import](
	[Import_ID] [int] IDENTITY(1,1) NOT NULL,
	[Importer] [nvarchar](50) NULL,
	[Import_Date] [date] NULL,
	[Import_Total] [decimal](18, 0) NULL,
	[Import_Note] [nvarchar](max) NULL,
	[Provider_ID] [int] NULL,
 CONSTRAINT [PK_Import] PRIMARY KEY CLUSTERED 
(
	[Import_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import_Details]    Script Date: 2022-09-07 1:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import_Details](
	[Import_Details_ID] [int] IDENTITY(1,1) NOT NULL,
	[Import_ID] [int] NOT NULL,
	[Product_ID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Into_Money] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Import_Details_1] PRIMARY KEY CLUSTERED 
(
	[Import_Details_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 2022-09-07 1:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderID_STT] [int] IDENTITY(1,1) NOT NULL,
	[Order_ID] [int] NOT NULL,
	[Product_ID] [int] NOT NULL,
	[Product_Name] [nvarchar](100) NULL,
	[Product_Quantity] [int] NULL,
	[Into_Money] [decimal](18, 0) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_OrderDetail_1] PRIMARY KEY CLUSTERED 
(
	[OrderID_STT] ASC,
	[Order_ID] ASC,
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2022-09-07 1:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nchar](12) NULL,
	[Address] [nvarchar](100) NULL,
	[Create_Date] [date] NULL,
	[City] [nvarchar](50) NULL,
	[Note] [nvarchar](100) NULL,
	[Total] [decimal](18, 0) NULL,
	[Discount] [decimal](18, 0) NULL,
	[Status] [nvarchar](max) NULL,
	[Point] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2022-09-07 1:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Product_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_Name] [nvarchar](100) NULL,
	[Price] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[Image] [nvarchar](50) NULL,
	[Aparatus and Energy] [nvarchar](50) NULL,
	[Material_Day] [nvarchar](50) NULL,
	[Material_Matkinh] [nvarchar](50) NULL,
	[Dial_HinhDang] [nvarchar](50) NULL,
	[Dial_KichThuoc] [nvarchar](50) NULL,
	[Dial_MauSac] [nvarchar](50) NULL,
	[Waterproof] [nvarchar](50) NULL,
	[TradeMark] [nvarchar](50) NULL,
	[Origin] [nvarchar](50) NULL,
	[Category_ID] [int] NULL,
	[Sales] [int] NULL,
	[ImageLink] [varchar](max) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Providerr]    Script Date: 2022-09-07 1:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Providerr](
	[Provider_ID] [int] IDENTITY(1,1) NOT NULL,
	[Provider_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Providerr] PRIMARY KEY CLUSTERED 
(
	[Provider_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2022-09-07 1:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Permission] [int] NULL,
	[CustomerName] [nvarchar](50) NULL,
	[CustomerEmail] [nvarchar](50) NULL,
	[CustomerPhone] [nchar](12) NULL,
	[CustomerAddress] [nvarchar](100) NULL,
	[CustomerCity] [nvarchar](50) NULL,
	[CustomerToken] [nvarchar](50) NULL,
	[RewardPoints] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Category_ID], [Category_Name]) VALUES (1, N'Đồng hồ nam')
INSERT [dbo].[Category] ([Category_ID], [Category_Name]) VALUES (2, N'Đồng hồ nữ')
INSERT [dbo].[Category] ([Category_ID], [Category_Name]) VALUES (3, N'Đồng hồ đôi')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([Contact_ID], [Name], [Email], [Title], [Message], [Create_Date], [Status]) VALUES (24, N'Nguyễn Văn Sơn', N'sonnguyeng2001@gmail.com', N'where', N'where
', CAST(N'2022-04-04T17:26:53.027' AS DateTime), 0)
INSERT [dbo].[Contact] ([Contact_ID], [Name], [Email], [Title], [Message], [Create_Date], [Status]) VALUES (25, N'Nguyễn Văn Sơn', N'sonnguyeng2001@gmail.com', N'where', N'where
', CAST(N'2022-04-04T17:30:40.270' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
INSERT [dbo].[Customer_Product] ([Customer_ID], [Product_ID], [CusPro_Name], [CusPro_Price], [CusPro_Image]) VALUES (8, 2, NULL, NULL, NULL)
INSERT [dbo].[Customer_Product] ([Customer_ID], [Product_ID], [CusPro_Name], [CusPro_Price], [CusPro_Image]) VALUES (8, 7, NULL, NULL, NULL)
INSERT [dbo].[Customer_Product] ([Customer_ID], [Product_ID], [CusPro_Name], [CusPro_Price], [CusPro_Image]) VALUES (8, 8, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([Discount_ID], [Discount_Name], [Discount_Price], [Discount_Quantity], [Expiration_Date]) VALUES (34, N'NEWDISCOUNT                                       ', CAST(10000 AS Decimal(18, 0)), 0, CAST(N'2022-06-26' AS Date))
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
SET IDENTITY_INSERT [dbo].[FeedBack] ON 

INSERT [dbo].[FeedBack] ([FeedBack_ID], [FeedBack_User], [FeedBack_Content], [FeedBack_Time], [Product_ID]) VALUES (12, N'sonnguyeng2001@gmail.com', N'1', CAST(N'2021-12-30T16:33:04.050' AS DateTime), 5)
INSERT [dbo].[FeedBack] ([FeedBack_ID], [FeedBack_User], [FeedBack_Content], [FeedBack_Time], [Product_ID]) VALUES (14, N'sonnguyeng2001@gmail.com', N'1', CAST(N'2021-12-30T17:08:10.913' AS DateTime), 18)
INSERT [dbo].[FeedBack] ([FeedBack_ID], [FeedBack_User], [FeedBack_Content], [FeedBack_Time], [Product_ID]) VALUES (27, N'nguyenvandung251210@gmail.com', N'No', CAST(N'2022-01-21T20:20:45.553' AS DateTime), 5)
SET IDENTITY_INSERT [dbo].[FeedBack] OFF
GO
SET IDENTITY_INSERT [dbo].[Import] ON 

INSERT [dbo].[Import] ([Import_ID], [Importer], [Import_Date], [Import_Total], [Import_Note], [Provider_ID]) VALUES (9, N'No Importer ', CAST(N'2022-03-26' AS Date), CAST(7368000 AS Decimal(18, 0)), N'No Note', 1)
INSERT [dbo].[Import] ([Import_ID], [Importer], [Import_Date], [Import_Total], [Import_Note], [Provider_ID]) VALUES (1013, N'No Importer', CAST(N'2022-04-10' AS Date), CAST(16920000 AS Decimal(18, 0)), N'Note', 1)
INSERT [dbo].[Import] ([Import_ID], [Importer], [Import_Date], [Import_Total], [Import_Note], [Provider_ID]) VALUES (1014, N'Casio Sekko Tissots', CAST(N'2022-04-11' AS Date), CAST(128120000 AS Decimal(18, 0)), N'No', 1)
SET IDENTITY_INSERT [dbo].[Import] OFF
GO
SET IDENTITY_INSERT [dbo].[Import_Details] ON 

INSERT [dbo].[Import_Details] ([Import_Details_ID], [Import_ID], [Product_ID], [Quantity], [Price], [Into_Money]) VALUES (18, 9, 7, 2, CAST(3684000 AS Decimal(18, 0)), CAST(7368000 AS Decimal(18, 0)))
INSERT [dbo].[Import_Details] ([Import_Details_ID], [Import_ID], [Product_ID], [Quantity], [Price], [Into_Money]) VALUES (1024, 1013, 21, 4, CAST(4230000 AS Decimal(18, 0)), CAST(16920000 AS Decimal(18, 0)))
INSERT [dbo].[Import_Details] ([Import_Details_ID], [Import_ID], [Product_ID], [Quantity], [Price], [Into_Money]) VALUES (1026, 1014, 7, 5, CAST(3684000 AS Decimal(18, 0)), CAST(18420000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Import_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderID_STT], [Order_ID], [Product_ID], [Product_Name], [Product_Quantity], [Into_Money], [Status]) VALUES (202, 150, 11, N'ĐỒNG HỒ CASIO GA-100DE-2ADR NỮ PIN DÂY NHỰA', 1, CAST(4393000 AS Decimal(18, 0)), 1)
INSERT [dbo].[OrderDetail] ([OrderID_STT], [Order_ID], [Product_ID], [Product_Name], [Product_Quantity], [Into_Money], [Status]) VALUES (203, 150, 12, N'ĐỒNG HỒ CASIO LA670WL-1BDF NỮ PIN DÂY DA', 1, CAST(766000 AS Decimal(18, 0)), 1)
INSERT [dbo].[OrderDetail] ([OrderID_STT], [Order_ID], [Product_ID], [Product_Name], [Product_Quantity], [Into_Money], [Status]) VALUES (204, 151, 7, N'ĐỒNG HỒ SEIKO SGEG99P1 NAM PIN DÂY DA', 10, CAST(36840000 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Order_ID], [UserID], [Name], [Email], [Phone], [Address], [Create_Date], [City], [Note], [Total], [Discount], [Status], [Point]) VALUES (150, 7, N'Sơn Nguyễn', N'sonnguyeng2001@gmail.com', N'0936249051  ', N'57/45 lô tư', CAST(N'2022-03-26' AS Date), N'HCM', N'Khong', CAST(5159000 AS Decimal(18, 0)), CAST(1000000 AS Decimal(18, 0)), N'Received', NULL)
INSERT [dbo].[Orders] ([Order_ID], [UserID], [Name], [Email], [Phone], [Address], [Create_Date], [City], [Note], [Total], [Discount], [Status], [Point]) VALUES (151, 7, N'Sơn Nguyễn', N'sonnguyeng2001@gmail.com', N'0936249051  ', N'57/45 lô tư', CAST(N'2022-03-26' AS Date), N'HCM', N'', CAST(36840000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), N'Received', NULL)
INSERT [dbo].[Orders] ([Order_ID], [UserID], [Name], [Email], [Phone], [Address], [Create_Date], [City], [Note], [Total], [Discount], [Status], [Point]) VALUES (1154, 7, N'Sơn Nguyễn', N'sonnguyeng2001@gmail.com', N'0936249051  ', N'No', CAST(N'2022-04-08' AS Date), N'HCM', N'', CAST(3354000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), N'Received', NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Providerr] ON 

INSERT [dbo].[Providerr] ([Provider_ID], [Provider_Name]) VALUES (1, N'Nhà cung cấp 1')
INSERT [dbo].[Providerr] ([Provider_ID], [Provider_Name]) VALUES (2, N'Nhà cung cấp 2')
INSERT [dbo].[Providerr] ([Provider_ID], [Provider_Name]) VALUES (3, N'Nhà cung cấp 3')
SET IDENTITY_INSERT [dbo].[Providerr] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [Permission], [CustomerName], [CustomerEmail], [CustomerPhone], [CustomerAddress], [CustomerCity], [CustomerToken], [RewardPoints]) VALUES (1, N'admin', N'admin', 1, NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Permission], [CustomerName], [CustomerEmail], [CustomerPhone], [CustomerAddress], [CustomerCity], [CustomerToken], [RewardPoints]) VALUES (7, N'user1', N'123', 0, N'Sơn Nguyễn', N'sonnguyeng2001@gmail.com', N'0936249051  ', N'No', N'HCM', N'Q19T2M17', 0)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Permission], [CustomerName], [CustomerEmail], [CustomerPhone], [CustomerAddress], [CustomerCity], [CustomerToken], [RewardPoints]) VALUES (8, N'user2', N'123', 0, N'Nguyễn Tấn Toàn', N'sonnguyeng769@gmail.com', N'01695192259 ', N'Tân Bình', N'Hồ Chí Minh', NULL, 51)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Customer_Product]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Product_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer_Product] CHECK CONSTRAINT [FK_Customer_Product_Product]
GO
ALTER TABLE [dbo].[Customer_Product]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Product_Users] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Users] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer_Product] CHECK CONSTRAINT [FK_Customer_Product_Users]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_FeedBack_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK_FeedBack_Product]
GO
ALTER TABLE [dbo].[Import]  WITH CHECK ADD  CONSTRAINT [FK_Import_Providerr] FOREIGN KEY([Provider_ID])
REFERENCES [dbo].[Providerr] ([Provider_ID])
GO
ALTER TABLE [dbo].[Import] CHECK CONSTRAINT [FK_Import_Providerr]
GO
ALTER TABLE [dbo].[Import_Details]  WITH CHECK ADD  CONSTRAINT [FK_Import_Details_Import] FOREIGN KEY([Import_ID])
REFERENCES [dbo].[Import] ([Import_ID])
GO
ALTER TABLE [dbo].[Import_Details] CHECK CONSTRAINT [FK_Import_Details_Import]
GO
ALTER TABLE [dbo].[Import_Details]  WITH CHECK ADD  CONSTRAINT [FK_Import_Details_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Import_Details] CHECK CONSTRAINT [FK_Import_Details_Product]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [fk_od_pro] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [fk_od_pro]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Orders] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Orders] ([Order_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [fk_pro_cate] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Category] ([Category_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [fk_pro_cate]
GO
