<style>
    .quantity_cart {
        position: relative;
        display: inline-block;
        text-align: center;
        top: -16px;
        width: 23px;
        height: 20px;
        background: rgb(226 186 72);
        border-radius: 50%;
        color: white;
    }

    .quantity_cart_number {
        font-size: 12px;
    }
</style>
@using Watch_Shop.Models;
@model List<GioHang>
@if (Session["Username"] == null)
{
    <a href="@Url.Action("GioHang","Cart")">
        <i class="fas fa-cart-plus header_nav_icon_js cart"></i>
        <div class="quantity_cart">
            <span class="quantity_cart_number">@ViewBag.TongSoLuong</span>
        </div>
    </a>
}
else
{
    <a href="@Url.Action("GioHang","Cart")" class="header_nav_link_user-sublink">
        <i class="fas fa-cart-plus cart"></i> Giỏ hàng của bạn
        <span class="quantity_cart_number">(@ViewBag.TongSoLuong)</span>
    </a>
}
